#!/usr/bin/make -f
# debian/rules for the Debian tigervnc package.

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

include /usr/share/cdbs/1/rules/debhelper.mk
include /usr/share/cdbs/1/class/cmake.mk

# Do our complex patch dance first! After that quilt patch system can proceed!
clean:: unpatch clean-xorg
unpatch: reverse-patches-dance
apply-patches: apply-patches-dance
reverse-patches-dance: reverse-patches

include /usr/share/cdbs/1/rules/patchsys-quilt.mk

DEB_DH_AUTORECONF_ARGS       = $(CURDIR)/xorg-autoreconf.sh
DEB_DH_AUTORECONF_CLEAN_ARGS =

#include /usr/share/cdbs/1/rules/autoreconf.mk we need the deautoreconf in the unpatch sequence

# Where the tigervnc sources are
DEB_SRCDIR   = tigervnc
# Where to built tigervnc
DEB_BUILDDIR = $(CURDIR)/build

# --disable-maintainer-mode does not seem to do its job! Why?!
DEB_CONFIGURE_EXTRA_FLAGS += --disable-maintainer-mode

DEB_CONFIGURE_USER_FLAGS += --with-tcpwrappers

#flummy:
#	echo '$$(DEB_ARCH_PACKAGES) $(DEB_ARCH_PACKAGES)'
#	echo '$$(cdbs_configure_flags) $(cdbs_configure_flags)'
#	echo '$$(DEB_CONFIGURE_EXTRA_FLAGS) $(DEB_CONFIGURE_EXTRA_FLAGS)'
#	echo '$$(DEB_CONFIGURE_USER_FLAGS) $(DEB_CONFIGURE_USER_FLAGS)'

.PHONY: apply-patches-dance reverse-patches-dance

apply-patches-dance: apply-patches-vnc-patch-xorg
apply-patches-vnc-patch-xorg: apply-patches-unify-xorg-and-vnc-tree
apply-patches-unify-xorg-and-vnc-tree: apply-patches-xorg

reverse-patches-dance: reverse-patches-xorg
reverse-patches-xorg: reverse-patches-remove-xorg-from-vnc-tree
reverse-patches-remove-xorg-from-vnc-tree: reverse-patches-vnc-unpatch-xorg
reverse-patches-vnc-unpatch-xorg: reverse-patches-deautoreconf

.PHONY: reverse-patches-deautoreconf

post-patches::
	dh_autoreconf $(DEB_DH_AUTORECONF_ARGS)

reverse-patches-deautoreconf:
	dh_autoreconf_clean $(DEB_DH_AUTORECONF_CLEAN_ARGS)

.PHONY: apply-patches-vnc-patch-xorg reverse-patches-vnc-unpatch-xorg

apply-patches-vnc-patch-xorg: $(DEB_SRCDIR)/unix/xserver/.apply-patches-vnc-patch-xorg.stamp

$(DEB_SRCDIR)/unix/xserver/.apply-patches-vnc-patch-xorg.stamp:
	cd $(DEB_SRCDIR)/unix/xserver && { \
		patch -p1 < ../../../../xserver.patch && \
		touch .apply-patches-vnc-patch-xorg.stamp; \
	}

reverse-patches-vnc-unpatch-xorg:
	cd $(DEB_SRCDIR)/unix/xserver && if test -f .apply-patches-vnc-patch-xorg.stamp; then \
		patch -R -p1 < ../../../../xserver.patch; \
		rm -f .apply-patches-vnc-patch-xorg.stamp; \
	fi

.PHONY: apply-patches-unify-xorg-and-vnc-tree reverse-patches-remove-xorg-from-vnc-tree

apply-patches-unify-xorg-and-vnc-tree: $(DEB_SRCDIR)/unix/xserver/.apply-patches-unify-xorg-and-vnc-tree.stamp

$(DEB_SRCDIR)/unix/xserver/.apply-patches-unify-xorg-and-vnc-tree.stamp:
	cd $(DEB_SRCDIR)/unix/xserver && { \
		lndir ../../../../xorg-server . && \
		find -type l > .apply-patches-unify-xorg-and-vnc-tree.stamp; \
	}

reverse-patches-remove-xorg-from-vnc-tree:
	cd $(DEB_SRCDIR)/unix/xserver && if test -f .apply-patches-unify-xorg-and-vnc-tree.stamp; then \
		xargs rm -f < .apply-patches-unify-xorg-and-vnc-tree.stamp; \
		find -name ".svn" -prune -o -type d -print | sort -r | xargs rmdir; \
		rm -f .apply-patches-unify-xorg-and-vnc-tree.stamp; \
	fi

.PHONY: apply-patches-xorg reverse-patches-xorg clean-xorg

apply-patches-xorg:
	cd $(CURDIR)/xorg-server && debian/rules patch

reverse-patches-xorg:
	cd $(CURDIR)/xorg-server && debian/rules unpatch

clean-xorg:
	cd $(CURDIR)/xorg-server && debian/rules clean

configure/tigervnc-server:: $(DEB_BUILDDIR)/unix/xserver/configure.stamp

#FIXME: We need to get this automatically from the debian xorg package!
XORG_DEBIAN_CONFIGURE_FLAGS := \
	--with-default-font-path="/usr/share/fonts/X11/misc,/usr/share/fonts/X11/cyrillic,/usr/share/fonts/X11/100dpi/:unscaled,/usr/share/fonts/X11/75dpi/:unscaled,/usr/share/fonts/X11/Type1,/usr/share/fonts/X11/100dpi,/usr/share/fonts/X11/75dpi,/var/lib/defoma/x-ttcidfont-conf.d/dirs/TrueType,built-ins" \
	--with-xkb-path=/usr/share/X11/xkb \
	--with-xkb-output=/var/lib/xkb \
	--with-default-xkb-rules=evdev \
	--with-sha1=libgcrypt \
	--with-int10=x86emu \
	--with-os-vendor="Debian" \
	--without-dtrace \
	--disable-static \
	--disable-werror \
	--disable-debug \
	--enable-unit-tests \
	--disable-builddocs \
	--disable-install-libxf86config \
	--disable-null-root-cursor \
	--enable-mitshm \
	--enable-xres \
	--disable-xcsecurity \
	--disable-xcalibrate \
	--disable-tslib \
	--disable-multibuffer \
	--enable-dbe \
	--disable-xf86bigfont \
	--enable-dpms \
	--disable-config-dbus \
	--enable-config-udev \
	--disable-config-hal \
	--enable-xorg \
	--disable-xquartz \
	--disable-xwin \
	--disable-xsdl \
	--disable-xfake \
	--disable-install-setuid \
	--enable-aiglx \
	--enable-glx-tls \
	--enable-registry \
	--enable-composite \
	--enable-record \
	--enable-xv \
	--enable-xvmc \
	--enable-dga \
	--enable-screensaver \
	--enable-xdmcp \
	--enable-xdm-auth-1 \
	--enable-glx \
	--enable-dri \
	--enable-dri2 \
	--enable-xinerama \
	--enable-xf86vidmode \
	--enable-xace \
	--enable-xselinux \
	--enable-xfree86-utils \
	--enable-kdrive \
	--enable-xcsecurity

# Next step is run configure script. It is very difficult use correct parameters.
# You should use same parameters as used in your distribution X server and add
# --disable-xvfb --disable-xnest --disable-xorg
$(DEB_BUILDDIR)/unix/xserver/configure.stamp:
	mkdir -p $(DEB_BUILDDIR)/unix/xserver
#	cd $(DEB_SRCDIR)/unix/xserver && { \
#	  if ! test -f configure; then \
#	    autoreconf --force -v --install; \
#	  fi; \
#	  chmod a+x configure; \
#	}
	cd $(DEB_BUILDDIR)/unix/xserver && \
	  $(DEB_CONFIGURE_SCRIPT_ENV) ../../../tigervnc/unix/xserver/configure \
		$(DEB_CONFIGURE_NORMAL_ARGS) \
		$(cdbs_configure_flags) \
		$(DEB_CONFIGURE_EXTRA_FLAGS) \
		$(DEB_CONFIGURE_USER_FLAGS) \
		$(XORG_DEBIAN_CONFIGURE_FLAGS) \
		--with-builderstring="tigervnc-xorg-server 1.1.90.:1.7.7-14 (Joachim Falk <joachim.falk@gmx.de>)" \
		--disable-xfbdev \
		--disable-dmx \
		--disable-xvfb \
		--disable-xnest \
		--disable-xephyr \
		--disable-xorg
	touch $@

build/tigervnc-server::
	cd $(DEB_BUILDDIR)/unix/xserver && make

install/tigervnc-server::
	mkdir -p debian/tmp/usr/bin
	cp -pr $(DEB_BUILDDIR)/unix/xserver/hw/vnc/Xvnc \
	  debian/tmp/usr/bin
	mv debian/tmp/usr/bin/vncviewer \
	  debian/tmp/usr/bin/xvncviewer 
	mv debian/tmp/usr/share/man/man1/vncviewer.1 \
	  debian/tmp/usr/share/man/man1/xvncviewer.1
	find debian/tmp -name "*vnc*" | while read line; do \
	  mv "$$line" `echo "$$line" | sed -e 's/vnc/tigervnc/g'`; \
	done
	cp -pr debian/helpers/* \
	  debian/tmp
	find debian/tmp/usr/share/man -type f | while read line; do \
	  sed -e 's/\<vncviewer\>/xtigervncviewer/g' \
	      -e 's/\<vncpasswd\>/tigervncpasswd/g' \
	      -e 's/\<vncconfig\>/tigervncconfig/g' \
	      -e 's/\<vncserver\>/tigervncserver/g' \
	      -e 's/\<Xvnc\>/Xtigervnc/g' $$line | \
	    gzip -9 > $$line.gz; \
	  rm -f $$line; \
	done

clean::
	rm -rf $(DEB_BUILDDIR)
